h1,
h2 {
  margin-bottom: 10px;
  line-height: 50px;
  text-align: left;
}
p {
  font-size: 20px;
}
ul {
  list-style: disc;
  margin-left: 20px;
}

a {
  color: rgb(46, 165, 224);
  text-decoration: none;
  font-size: 15px;
  line-height: 10px;
}

a:hover {
  text-decoration: underline;
}

.term {
  margin-left: 15%;
  margin-top: 5%;
}
